*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { margin: 0; padding: 0; }

*::-moz-focus-inner { border: 0; padding: 0; }

body {
    cursor: default;
    font: 1em 'Roboto', sans-serif;
    padding-top: 48px;
}

a {
    color: #0af;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input { font: inherit; }

div.container {
    background: #f5f5f5;
    border-radius: 1em;
    margin: 0 auto;
    padding: 0.05em;
    width: 60%;
    max-width: 960px;
    min-width: 320px;
}

form, p, ul {
    margin: 1em;
}

ul > li {
    margin-left: 1em;
}

form > div {
    margin-top: 1em;
    text-align: right;
}

.textbox, .button {
    background: #fff;
    border: 0.1em solid #0af;
}

.textbox {
    box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.2);
    width: 100%;
}

.button {
    cursor: pointer;
    padding: 0.4em 0.8em;
}

.button:active {
    background: #0af;
    color: #fff;
}
